.section-title {
  margin-bottom: var(--spacing-md);
  &-dark {
    color: var(--dark);

    & span {
      color: var(--green-dark);
      font-family: var(--font-mono);
      font-size: var(--fz-xl);
    }
  }
  &-light {
    color: var(--white);

    & span {
      color: var(--green);
      font-family: var(--font-mono);
      font-size: var(--fz-xl);
    }
  }
}

.section {
  padding: var(--spacing-xxl) 0;
  position: relative;
  overflow-x: hidden;
  &-dark {
    padding: var(--spacing-xxl) 0;
    position: relative;
    overflow-x: hidden;
    background-color: var(--blue);
    color: var(--white);
  }
}

.skillsList {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    &::before {
      content: ">";
      position: absolute;
      left: 0px;
      font-weight: bold;
      color: var(--green-dark);
      font-size: var(--fz-xs);
    }
  }
}

.form-1 {
  position: relative;
  left: 0;
  width: var(--spacing-xxl);
  margin-bottom: var(--spacing-xl);
  @media only screen and (max-width: 992px) {
    display: none;
  }
}
.form-2 {
  position: relative;
  top: var(--spacing-md);
  left: var(--spacing-xxl);

  width: 16rem;
  margin-bottom: var(--spacing-xl);
  @media only screen and (max-width: 992px) {
    display: none;
  }
}

.avatar-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  & .img-container {
    display: inline-block;

    position: relative;

    & .photo {
      position: relative;

      border-radius: var(--border-radius);

      @media only screen and (max-width: 992px) {
        margin: 5rem auto;
      }
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: tomato;
        left: 0rem;
        top: 0rem;
        z-index: 2;
      }
    }
    &__overlay {
      position: absolute;
      left: 0;
      top: 0;
      height: 98%;
      width: 100%;
      background-color: var(--green-50);
    }
  }
  & .shapes {
    position: absolute;
    &-2 {
      bottom: -2rem;
      right: -9rem;
    }
  }
}
