*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px // 10 / 16 = 62.5;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-sans);
  overscroll-behavior-y: none;
  color: var(--stale);

  overflow-x: hidden;
}

@for $i from 1 through 1000 {
  .animate-delay-#{$i} {
    animation-delay: #{$i * 0.1}s;
  }
}
code {
  font-family: var(--font-mono) !important;
}

/* width */
::-webkit-scrollbar {
  width: var(--spacing-xs);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--blue-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--stale);
  border-radius: var(--spacing-md);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
