.btn {
  padding: 10px 30px;
  font-size: var(--fz-md);
  cursor: pointer;
  background-color: transparent;

  border: 1px solid var(--yellow);
  color: var(--yellow);
  border-radius: var(--border-radius);
  transition: var(--transition);
  &:hover {
    background-color: var(--yellow-transparent);
  }
  &::first-letter {
    text-transform: uppercase;
  }
}
