.btn {
  padding: 18px 30px;
  text-decoration: none;
  font-size: var(--fz-md);
  font-family: var(--font-mono);

  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--green);
  color: var(--green) !important;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  transition: var(--transition);
  line-height: 1;
  &:hover {
    background-color: var(--green-transparent);
  }
  &::first-letter {
    text-transform: uppercase;
  }
  &-sm {
    padding: 10px 20px;
    font-size: var(--fz-xs);
  }
  &__text {
    font-family: var(--font-mono);
    margin-right: var(--spacing-xs);
  }
}
