@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/grid";

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 992px) {
    width: 1000px;
  }
}

.text-center {
  text-align: center;
}
.section {
  padding: var(--spacing-xxl) 0;
  position: relative;
  overflow-x: hidden;
  &-dark {
    padding: var(--spacing-xxl) 0;
    position: relative;
    overflow-x: hidden;
    background-color: var(--blue);
    color: var(--white);
  }
}

.footer {
  padding: var(--spacing-xl) 0;
  color: var(--stale);
  & p {
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
  }
}
