:root {
  --blue: #3102a8;
  --blue-transparent: #3102a81a;
  --yellow: #f5e205;
  --yellow-light: #e2ecd0;
  --yellow-transparent: #f5e10536;
  --yellow-dark: #a89b00;
  --white: #fefefe;
  --green: #ccf381;
  --black: #212529;
  --font-sans: "Poppins", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "Roboto Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --fz-huge: 50px;
  --spacing-xs: 5px;
  --spacing-md: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 10rem;
  --border-radius: 4px;

  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
