@import "./theme/variables.scss";
@import "./theme/base";
@import "./theme/layout";
@import "./theme/buttons";
@import "./navbar.scss";
@import "./sections/hero.scss";
@import "./sections/about.scss";
@import "./sections/jobs.scss";
@import "./sections/projects.scss";
@import "./sections/contact.scss";

@import "../node_modules/aos/dist/aos.css";

body {
  background-color: var(--blue);
  color: var(--white);
}
main {
  transition: var(--transition);
}

.blurred {
  overflow: hidden;
  main div > * {
    filter: blur(4px) brightness(1);
    transition: var(--transition);

    pointer-events: none;
    user-select: none;
  }
}
.bg-heading {
  &-light {
    color: var(--green-transparent);
    position: absolute;
    top: 7rem;
    right: -3rem;
    font-size: 13rem;
    margin: 0;
    padding: 0;
    line-height: 0;
  }
}
.mb-lg {
  @media only screen and (max-width: 992px) {
    margin-bottom: var(--spacing-md);
  }
}
