.hero {
  background-color: var(--blue);
  height: 95vh;

  position: relative;
  .main-col {
    display: flex;
    align-items: center;
  }
  @media only screen and (max-width: 992px) {
    height: auto;
    .main-col {
      padding: 8rem 0;

      display: flex;
      align-items: center;
    }
  }
}
.container {
  height: 100%;
}
.hello {
  color: var(--yellow);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  margin-bottom: var(--spacing-md);
  font-weight: 400;

  span {
    color: var(--green-dark);
  }
  @media only screen and (max-width: 992px) {
    margin-top: 5rem;
  }
}

.title {
  font-size: var(--fz-huge);
  font-weight: 800;
  line-height: 0.9;
  margin-bottom: var(--spacing-md);
  color: var(--white);

  &-center {
    text-align: center;
  }
}
.row {
  align-items: center;
  height: 100%;
}

.titlePart {
  color: var(--green-light);
}

.text {
  font-weight: 500;
  margin-bottom: var(--spacing-xl);
  color: var(--stale);
  font-size: var(--fz-xs);
  width: 90%;
}

.col-photo {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  @media only screen and (max-width: 992px) {
    justify-content: center;
    margin-top: 4rem;
  }
}
.avatarShapes {
  position: absolute;
  width: 40rem;
  left: -4rem;
  top: 10rem;
  @media only screen and (max-width: 992px) {
    width: 37rem;
  }
  @media only screen and (max-width: 992px) {
    display: none;
  }
}
.overlay {
  position: absolute;
  height: 100%;
  width: 38%;
  right: 0;
  bottom: 0;
  background-color: var(--green);
  overflow: hidden;
  flex-grow: 1;
  border-top-left-radius: var(--border-radius);
  @media only screen and (max-width: 992px) {
    display: none;
  }
}

.xs-overlay {
  height: 100%;
  background-color: var(--green);
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -7px;
  display: none;
  @media only screen and (max-width: 992px) {
    display: block;
  }
}

.photo {
  height: 30rem;
  width: 30rem;

  position: relative;
  background-color: gray;
  border-radius: var(--border-radius);

  @media only screen and (max-width: 992px) {
    margin: 5rem auto;
  }
  // &::before {
  //   content: "";
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   background-color: tomato;
  //   left: 2rem;
  //   top: 2rem;
  //   z-index: -1;
  // }
}

.section-title {
  margin-bottom: var(--spacing-md);
  &-dark {
    color: var(--dark);

    & span {
      color: var(--green-dark);
      font-family: var(--font-mono);
      font-size: var(--fz-xl);
    }
  }
  &-light {
    color: var(--white);

    & span {
      color: var(--green);
      font-family: var(--font-mono);
      font-size: var(--fz-xl);
    }
  }
}

.section {
  padding: var(--spacing-xxl) 0;
  position: relative;
  overflow-x: hidden;
  &-dark {
    padding: var(--spacing-xxl) 0;
    position: relative;
    overflow-x: hidden;
    background-color: var(--blue);
    color: var(--white);
  }
}

.bg-heading {
  &-light {
    color: var(--green-transparent);
    position: absolute;
    top: 7rem;
    right: -3rem;
    font-size: 13rem;
    margin: 0;
    padding: 0;
    line-height: 0;
  }
}

.skillsList {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    &::before {
      content: "▶";
      position: absolute;
      left: 0px;
      color: var(--green-dark);
      font-size: var(--fz-xxs);
      line-height: 12px;
    }
  }
}

.blurred {
  overflow: hidden;
}

.form-1 {
  position: relative;
  left: 0;
  width: var(--spacing-xxl);
  margin-bottom: var(--spacing-xl);
  @media only screen and (max-width: 992px) {
    display: none;
  }
}
.form-2 {
  position: relative;
  top: var(--spacing-md);
  left: var(--spacing-xxl);

  width: 16rem;
  margin-bottom: var(--spacing-xl);
  @media only screen and (max-width: 992px) {
    display: none;
  }
}

// Jobs
.jobs-section {
}

// projects

.project {
  h3 {
    font-weight: 600;
  }

  & .project-skills {
    display: flex;
    background-color: red;
  }
}
