.root {
  background-color: var(--blue);
  padding: 15px 0;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  color: var(--white);
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    li {
      font-family: var(--font-mono);
      padding: 7px 14px;
      text-transform: capitalize;
      cursor: pointer;
      font-size: var(--fz-xs);
      &:hover {
        color: var(--green);
      }
      span {
        font-family: var(--font-mono);
        color: var(--green);
      }
    }
    @media only screen and (max-width: 992px) {
      display: none;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.humburger {
  span {
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
  }
  width: 3rem;
  height: 3rem;
  z-index: 15;
  display: none;
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  @media only screen and (max-width: 992px) {
    display: block;
  }

  & span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--green);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  & span:nth-child(1) {
    top: 0px;
  }

  & span:nth-child(2) {
    top: 7px;
    width: 100%;
  }

  & span:nth-child(3) {
    top: 14px;
    width: 70%;
  }
}

.humburger-open {
  & span:nth-child(1) {
    top: 12px;

    transform: rotate(135deg);
  }

  & span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  & span:nth-child(3) {
    top: 12px;

    width: 100%;
    transform: rotate(-135deg);
  }
}

.aside {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  border-radius: var(--border-radius);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  bottom: 0px;
  right: 0px;
  padding: 50px 10px;
  width: min(75vw, 400px);
  height: 100vh;
  outline: 0px;
  background-color: var(--blue-light);
  border-left: 2px solid var(--green);
  box-shadow: -10px 0px 30px -15px rgb(17, 14, 37);

  z-index: 10;
  transform: translateX(75vw);
  visibility: hidden;
  transition: var(--transition);
  ul {
    list-style-type: none;

    li {
      font-family: var(--font-mono);
      padding: 7px 14px;
      text-transform: capitalize;
      font-size: clamp(var(--fz-sm), 4vw, var(--fz-lg));
      margin-bottom: var(--spacing-md);
      color: var(--white);

      span {
        font-family: var(--font-mono);
        color: var(--green);
      }
    }
  }
}

.aside-open {
  transform: translateX(0vw);
  visibility: visible;
  transition: var(--transition);
}
