.root {
  background-color: var(--blue);
  padding: 15px 0;
  color: var(--white);
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    li {
      font-family: var(--font-mono);
      padding: 7px 14px;
      text-transform: capitalize;
      font-size: var(--fz-xs);
      span {
        font-family: var(--font-mono);
        color: var(--yellow);
      }
    }
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.humburger {
  width: 5rem;
  height: 3rem;

  position: relative;
  & span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--green);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  & span:nth-child(1) {
    top: 0px;
  }

  & span:nth-child(2) {
    top: 12px;
    width: 90%;
  }

  & span:nth-child(3) {
    top: 24px;
    width: 70%;
  }
}

.humburger-open {
  width: 5rem;
  height: 3rem;

  position: relative;
  & span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--green);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  & span:nth-child(1) {
    top: 0px;
  }

  & span:nth-child(2) {
    top: 12px;
  }

  & span:nth-child(3) {
    top: 24px;
  }
  & span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  & span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  & span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
